<nav class="side-nav">
    <div class="side-nav__container">
        <ul class="side-nav__list">
            <li class="side-nav__item"><a (click)="navigation('home')" data-js="nav-link" class="side-nav__link side-nav__link--activeLink"><span>Introduction</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('highlights')" data-js="nav-link" class="side-nav__link"><span>Highlights</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('galance')" data-js="nav-link" class="side-nav__link"><span>At a Galance</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('history')" data-js="nav-link" class="side-nav__link"><span>Our History</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('statement')" data-js="nav-link" class="side-nav__link"><span>Chairman's Statement</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('business')" data-js="nav-link" class="side-nav__link"><span>Business Model</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('strategy')" data-js="nav-link" class="side-nav__link"><span>Our Strategy</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
            <li class="side-nav__item"><a (click)="navigation('download')" data-js="nav-link" class="side-nav__link"><span>Download Centre</span><img class="side-nav__dot" src="assets/images/dot.png" alt=""></a></li>
        </ul>
    </div>
</nav>