<section class="history" [ngClass]="{'fade-in' : isProcessing}" data-js="scroll" style="background-image: url(assets/images/history/history-background.png);">
    <div class="history__section container" aria-label="Description of image" role="img" title="Living room">
        <div class="history__contet-wrapper">
            <div class="history__logo redish-box">
                <h2 class="history__logo-title">our history</h2>
            </div>
        </div>
        <div class="history__desc-wrapper">
            <p class="history__desc-text">The Group’s business commenced trading in Sunderland as a family-owned general home furnishings store.</p>
        </div>
        <div class="history__contet-wrapper">
            <div class="history__redish-box">
                <p class="history__redish-box-desc">By the 1980s, the business operated from eight stores in the North East of England under the ScS name, ising in selling upholstered furniture. Following a management buyout in 1993, the business began to expand outside of the North East of England, and focused on establishing ScS as a major UK upholstered furniture retailer operating from larger and more modern stores in out of town retail park locations. </p>
                <p class="history__redish-box-desc">The store expansion programme saw the store estate grow, and, by 2007, the store estate had increased to 95 stores supported by nine distribution centres. A number of operational initiatives were also undertaken, including upgrades to business processes, management information and information technology systems. David Knight was appointed Chief Executive Officer in 2002, Kevin Royal was appointed Sales Director in 2003 and Ron Turnbull was appointed Finance Director in 2004.</p>
            </div>
        </div>
        <div class="wrapper-card">
            <div class="card-number">
                <div class="card-number__first">
                    <div class="card-number__wrapper">
                        <span class="card-number__number">2009</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Transactional online website launched</li>
                            <li class="card-number__item">La-Z-Boy, the first third party brand, is added to the ScS product range</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--bl">
                        <span class="card-number__line card-number__line--tr"></span>
                        <img class="card-number__img" src="assets/images/history/computer.png" alt="Computer Icon">
                    </div>
                </div>
                <div class="card-number__second">
                    <div class="card-number__wrapper card-number__wrapper--even">
                        <span class="card-number__number">2010</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Occasional tables, lamps and dining furniture added</li>
                            <li class="card-number__item">G Plan, the second third party brand is added</li>
                            <li class="card-number__item">SiSi Italia, the first own brand, is added to the Scs range</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--tc">
                        <span class="card-number__line card-number__line--bl"></span>
                        <img class="card-number__img" src="assets/images/history/lamp.png" alt="Lamp Icon">
                    </div>
                </div>
                <div class="card-number__third">
                    <div class="card-number__wrapper">
                        <span class="card-number__number">2011</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Interest-free credit offered on all products in every store</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--bc">
                        <span class="card-number__line card-number__line--tr"></span>
                        <img class="card-number__img" src="assets/images/history/percentage.png" alt="Percentage Icon">
                    </div>
                </div>
                <div class="card-number__fourth">
                    <div class="card-number__wrapper">
                        <span class="card-number__number">2012</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Flooring added to ScS range</li>
                            <li class="card-number__item">ScS re-branded as the Sofa Carpet Specialist</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--tc">
                        <span class="card-number__line card-number__line--bl"></span>
                        <img class="card-number__img" src="assets/images/history/cube.png" alt="Cube Icon">
                    </div>
                </div>
                <div class="card-number__fifth">
                    <div class="card-number__wrapper">
                        <span class="card-number__number">2013</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Endurance, the second own brand, is added to the range</li>
                            <li class="card-number__item">Three store House of Fraser pilots</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--bc">
                        <span class="card-number__line card-number__line--tr"></span>
                        <img class="card-number__img" src="assets/images/history/shop.png" alt="Shop Icon">
                    </div>
                </div>
                <div class="card-number__sixth">
                    <div class="card-number__wrapper card-number__wrapper--even">
                        <span class="card-number__number">2014</span>
                        <ul class="card-number__list card-number__list--special">
                            <li class="card-number__item">Parker Knoll, the latest third party brand is added to the ScS range</li>
                            <li class="card-number__item">New website launched to provide enhanced online shopping experience</li>
                            <li class="card-number__item">30 House of Fraser Concession stores launched under the House of Fraser ‘For Living’ brand</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--tc">
                        <span class="card-number__line card-number__line--bl"></span>
                        <img class="card-number__img" src="assets/images/history/computer.png" alt="Computer Icon">
                    </div>
                </div>
                <div class="card-number__seventh">
                    <div class="card-number__wrapper">
                        <span class="card-number__number">2015</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">In January we listed on the London Stock Exchange</li>
                            <li class="card-number__item">Three new store openings</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--bc">
                        <span class="card-number__line card-number__line--tr"></span>
                        <img class="card-number__img" src="assets/images/history/stonks.png" alt="Stonks Icon">
                    </div>
                </div>
                <div class="card-number__eighth">
                    <div class="card-number__wrapper card-number__wrapper--even">
                        <span class="card-number__number">2016</span>
                        <ul class="card-number__list">
                            <li class="card-number__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="card-number__item">Suspendisse placerat porttitor purus ut pellentesque. Fusce molestie sit amet augue auctor pretium.</li>
                        </ul>
                    </div>
                    <div class="card-number__logo card-number__logo--tr">
                        <span class="card-number__line card-number__line--bl"></span>
                        <img class="card-number__img" src="assets/images/history/sofa.png" alt="Sofa Icon">
                    </div>
                </div> 
                <span class="big-line"></span>
            </div> 
        </div>
        <div class="history__wrapper">
            <div class="redish-box redish-box--bottom">
                <span class="redish-box__bottom-title"><a href="#"><span class="icon-download"></span> Download Our History</a></span>
            </div>
        </div>
    </div>
</section>