<section class="highlights" id="highlights" data-js="scroll">
    <div class="highlights__section container">
        <div class="highlights__content-wrapper">
            <div class="highlights__logo redish-box">
                <h2 class="highlights__logo-title">highlights</h2>
            </div>
        </div>
        <h3 class="highlights__sub-title">Financial Highlights</h3>
        <div class="highlights__first-column-wrapper">
            <div class="numbers">
                <div class="highlights__number-wrapper">
                    <div class="numbers__data">
                        <span class="numbers__title">Revenue</span>
                        <span class="numbers__price ">£276.7m</span>
                        <span class="numbers__percentage">+13.4%</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">gross profit</span>
                        <span class="numbers__price ">£127.2m</span>
                        <span class="numbers__percentage">+12.5%</span>
                    </div>
                </div>
                <div class="highlights__number-wrapper">
                    <div class="numbers__data">
                        <span class="numbers__title">Ebitda</span>
                        <span class="numbers__price ">£276.7m</span>
                        <span class="numbers__percentage">-29.6%</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">adjusted ebitda</span>
                        <span class="numbers__price ">£11.3m</span>
                        <span class="numbers__percentage">-17.5%</span>
                    </div>
                </div>
                <div class="highlights__number-wrapper">
                    <div class="numbers__data">
                        <span class="numbers__title">loss per share</span>
                        <span class="numbers__price ">5.56p</span>
                        <span>&nbsp;</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">Adjusted Earnings per Share</span>
                        <span class="numbers__price ">13.75p</span>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="highlights__second-row-wrapper">
                <div class="bulletpoint">
                    <ul class="bulletpoint__list">
                        <li class="bulletpoint__item">Gross sales up 13.2% to £292.2 million (2014: £258.2 million)</li>
                        <li class="bulletpoint__item">Revanue up 13.4% to £276.7 million (2014: £244.1 million)</li>
                        <li class="bulletpoint__item">Like-for-like order intake for the year ended 25 July 2015, up 5.0% </li>
                        <li class="bulletpoint__item">Gross profit increased 12.5% to £127.2 million (2014: £113.0 million)</li>
                        <li class="bulletpoint__item">Adjusted EBITDA £11.3 million (2014: £13.7 million)</li>
                        <li class="bulletpoint__item">EBITDA £7.6 million (2014: £10.8 million)</li>
                        <li class="bulletpoint__item">Operating profit before exceptional items (relating to the IPO) of £6.4 million</li>
                        <li class="bulletpoint__item--special">(2014: £6.6 million)</li>
                        <li class="bulletpoint__item">Loss per share 5.56 pence (2014: earnings 14.78 pence)</li>
                        <li class="bulletpoint__item">Adjusted earnings per share 13.75 pence (2014: 17.50 pence)</li>
                        <li class="bulletpoint__item">Strong balance sheet with cash of £21.1 million and no debt</li>
                        <li class="bulletpoint__item">Recommended final dividend of 11.2 pence per share, total dividend 14.0 pence per share in</li>
                        <li class="bulletpoint__item--special">line with the commitment made at the time of the Company’s IPO in January</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="highlights__second-column-wrapper">
            <h3 class="highlights__sub-title">Operational Highlights</h3>
            <div class="bulletpoint">
                <ul class="bulletpoint__list">
                    <li class="bulletpoint__item">House of Fraser concession launched in 30 stores in July 2014 with gross sales of £21.2 million (2014: £3.4 million)</li>
                    <li class="bulletpoint__item">Three new stores opened in Abbotsinch in Glasgow, Croydon and Slough (total: 96 stores)</li>
                    <li class="bulletpoint__item">New e-commerce platform for ScS trading website and bespoke House of Fraser ‘For Living’ website launched</li>
                    <li class="bulletpoint__item">ScS online gross sales up 25.4% to £8.4 million (2014: £6.7 million)</li>
                </ul>
            </div>
        </div>
        <div class="highlights__content-wrapper">
            <div class="redish-box redish-box--bottom">
                <span class="redish-box__bottom-title"><a href="#"><span class="icon-download"> Download Highlights</span></a></span>
            </div>
        </div>
    </div>
</section>