.image-text__wrapper {
  display: flex;
  margin-top: 25px;

  @include breakpoint (tablet) {
    display: block;
  }

  @include breakpoint (mobile-and-tablet) {
    display: block;
  }
}

.image-text__title {
  color: $redish-color;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  padding-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid $pink;
}

.image-text__text-wrapper {
  margin-top: -5px;
  margin-left: 30px;

  @include breakpoint (tablet) {
    display: block;
    margin: 20px 20px 20px 0;
  }

  @include breakpoint (mobile-and-tablet) {
    display: block;
    margin: 20px 20px 20px 0;
  }
}

.image-text__heading {
  color: $redish-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $font-weight-light;
  font-size: $font-size-m;
  line-height: 17px;
  max-width: 261px;
}

.image-text__desc {
  color: $gray;
  font-size: $font-size-m;
  margin: $margin-tb-m;
  line-height: 24px;
  max-width: 350px;

  @include breakpoint (mobile-and-tablet) {
    display: none;
  }
}

.image-text__img {
  width: 65%;
  max-height: 186px;

  @include breakpoint (phablet) {
    width: 40%;
  }

  @include breakpoint (mobile-and-tablet) {
    display: none;
  }
}
