<section class="business" data-js="scroll" [ngClass]="{'fade-in' : isProcessing}">
    <div class="business__section container" style="background-image: url(assets/images/business/grandparents-sitting.png);" aria-label="Description of image" role="img"  title="Grandparents sitting on couch">
        <div class="business__contet-wrapper">
            <div class="business__logo redish-box">
                <h2 class="business__logo-title">business model</h2>
            </div>
        </div>
        <div class="business__desc-title-wrapper">
            <p class="business__desc-title">The ScS business model is all about offering a high quality, competitively priced range of upholstered furniture, flooring and related products to our customers with great service – supported by experienced expert staff, modern comfortable stores, an efficient supply chain and low overhead costs – resulting in a great value offer for our customers. </p>
        </div>
        <div class="business__circle-wrapper">
            <img class="business__main-img" src="assets/images/business/main-image.png" alt="Circle image with informations">
            <img class="business__tablet-img" src="assets/images/business/tablet-image.png" alt="Circle images with informations">
            <img class="business__mobile-img" src="assets/images/business/mobile-image.png" alt="Circle images with informations">
        </div>
    </div>
</section>