<div class="home">
    <div class="home__wrapper">
        <div class="home__container">
            <div class="home__nav">
                <hoolio-nav></hoolio-nav>
            </div>
            <div class="home__header">
                <hoolio-header></hoolio-header>
            </div>
            <div class="horizontal-line">
                <a href="#highlights"><span class="icon-arrow-down bi bi-arrow-down"></span></a>
            </div>
            <div class="home__highlights">
                <hoolio-highlights></hoolio-highlights>
            </div>
            <div class="horizontal-line">
                <a href="#highlights"><span class="icon-arrow-down bi bi-arrow-down"></span></a>
            </div>
        </div>
    </div>
</div>