<header class="header" id="intorduction" data-js="scroll">
    <div class="header__section container">
        <div class="header__images-wrapper">
            <div class="header__images">
                <div class="header__image header__image--smallest" style="background-image: url(assets/header/kids-on-couch.png);" aria-label="Description of image" role="img" title="Kids playing on couch"></div>
                <div class="header__image header__image--biggest" style="background-image: url(assets/header/playful-father.png);" aria-label="Description of image" role="img" title="Playful father with children"></div>
            </div>
            <div class="header__images">
                <div class="header__image header__image--medium" style="background-image: url(assets/header/man-relaxing.png)" aria-label="Description of image" role="img"  title="Man siting on couch and relaxing"></div>
                <div class="header__image header__image--medium" style="background-image: url(assets/header/playfoul-young-family.png)" aria-label="Description of image" role="img"  title="Playful young family on couch"></div>
            </div>
            <div class="header__images">
                <div class="header__image header__image--biggest" style="background-image: url(assets/header/granparents-sitting.png)" aria-label="Description of image" role="img"  title="Grandparents sitting on couch"></div>
                <div class="header__image header__image--smallest" style="background-image: url(assets/header/couple-in-couch.png)" aria-label="Description of image" role="img"  title="Young couple sitting on couch"></div>
            </div>
        </div>
        <div class="header__content-wrapper">
            <div class="header__bottom redish-box">
                <h1 class="header__bottom-title">Growth strength development</h1>
                <span class="header__bottom-desc"><a href="#"><span class="icon-download"></span>Download full annual report and accounts 2016</a></span>
            </div>
        </div>
    </div>
</header>