<nav class="nav-sticky" data-js="remove-add-class">
    <div class="nav-sticky__container redish-box container" data-js="remove-class">
        <div class="nav-sticky__left-side">
            <span class="nav-sticky__title">Annual Report 2016</span>
        </div>
        <div class="nav-sticky__center-side">
            <img class="nav-sticky__image" src="assets/header-logo.png" alt="Logo of company">
        </div>
        <div class="nav-sticky__right-side">
            <span class="nav-sticky__link"><a href="#"><span class="icon-download">Download centre</span></a></span>
            <span class="nav-sticky__link"><a href="#"><span class="icon-download"> www.scs.co.uk</span></a></span>
        </div>
    </div>
</nav>