<section class="glance" data-js="scroll">
    <div class="glance__section container">
        <div class="glance__content-wrapper">
            <div class="glance__logo redish-box">
                <h2 class="glance__logo-title">at a glance</h2>
            </div>
        </div>
        <div class="glance__cards-wrapper">
            <div class="card">
                <div class="card__title-wrapper card__title--redish">
                    <span class="card__title">scs</span>
                </div>
                <div class="card__image-wrapper">
                    <img class="card__map-image card__map-image--redish" src="../../../assets/images/at-a-glance/scs-map.png" alt="Image of map">
                </div>
                <div class="card__map-key card__map-key--redish">
                    <span class="card__map-key-title">Map key</span>
                    <span class="card__map-key-desc"><span class="card__circle card__circle--redish">S</span> ScS</span>
                    <span class="card__map-key-desc"><span class="card__circle card__circle--lighterGray">D</span> Distribution <br> centres</span>
                </div>
                <div class="numbers glance__card-numbers">
                    <div class="numbers__data">
                        <span class="numbers__title">stores across the uk</span>
                        <span class="numbers__price ">96</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">average store retail space</span>
                        <span class="numbers__price ">14,700 <small>sqft</small></span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">distribution centres</span>
                        <span class="numbers__price ">10</span>
                    </div>
                </div>
                <div class="card__bottom-desc-wrapper">
                    <p class="card__bottom-desc card__bottom-desc--first">We trade from 96 stores and 30 House of Fraser department stores across the country – from Dundee to Plymouth.</p>
                    <p class="card__bottom-desc">Our target is to open two or three new stores per year with 30 potential new store locations identified.</p>
                    <p class="card__bottom-desc">Our online sales grew to £8.4 million, up from just £0.5 million in 2009. We offer our full in store ranges, together with an additional express delivery selection, for customers where time is a priority; along with a dedicated site for our House of Fraser customers.</p>
                </div>
                <a href="#" data-js="open">
                    <span class="open-txt" data-js="open-close-btn"></span>
                    <div class="card__expand-wrapper card__expand-wrapper--redish">
                        <span class="card__expand-title">view more info</span>
                        <span class="card__close-title">close</span>
                    </div>
                </a> 
            </div>
            <div class="card">
                <div class="card__title-wrapper card__title--grayish">
                    <span class="card__title">house of fraser</span>
                </div>
                <div class="card__image-wrapper">
                    <img class="card__map-image card__map-image--grayish" src="../../../assets/images/at-a-glance/house-of-fraser-map.png" alt="Image of map">
                </div>
                <div class="card__map-key card__map-key--grayish">
                    <span class="card__map-key-title">Map key</span>
                    <span class="card__map-key-desc"><span class="card__circle card__circle--darkerGray">H</span> House Of Fraser <br> concession</span>
                </div>
                <div class="numbers glance__card-numbers">
                    <div class="numbers__data">
                        <span class="numbers__title">house of fraser concessions</span>
                        <span class="numbers__price">30</span>
                    </div>
                </div>
                <button type="button" class="open-txt" data-js="open"></button> 
                <div class="card__bottom-desc-wrapper">
                    <p class="card__bottom-desc card__bottom-desc--first">In 2014 ScS began operating the upholstered furniture and carpet concession ranges for the House of Fraser “For Living” brand.</p>
                    <p class="card__bottom-desc">The concession currently operates from 30 House of Fraser stores across the UK. <br> www.houseoffraserforliving.co.uk</p>
                </div>
                <a href="#" data-js="open">
                    <span class="open-txt" data-js="open-close-btn"></span>
                    <div class="card__expand-wrapper card__expand-wrapper--grayish">
                        <span class="card__expand-title">view more info</span>
                        <span class="card__close-title">close</span>
                    </div>
                </a> 
            </div>
        </div>
        <div class="strength">
            <div class="strenght__heading-wrapper">
                <h3 class="strength__main-title">Key Strength</h3>
                <p class="strength__main-desc">ScS has a number of key strengths that have supported the growth in sales and profits in the last three years and which provide a firm base for further growth.</p>
            </div>
            <div class="strength__elements-wrapper">
                <div class="strength__content">

                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/sofa-icon.png" alt="Sofa icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">One of the largest retailers of sofas and flooring </h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">ScS is one of the largest retailers of sofas and flooring. A combination that give us scope to develop our current customer base, provide further ‘sell-on’ opportunities to our current customers and reach new customers through the development of our House of Fraser concessions.</p>
                    </div>
                </div>
                <div class="strength__content">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/cube-icon.png" alt="Cube icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Diverse and focused product range</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">ScS seeks to offer a diverse product and brands offering at a range of price points in order to appeal to a wide national customer base. This seeks to provide scope for growth as well as greater resilience in the event of an economic downturn.</p>
                    </div>
                </div>
                <div class="strength__content strength__content-left">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/heart-icon.png" alt="Heart icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Trained staff with a focus on customer service</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">ScS places emphasis on the provision of high levels of service throughout the customer experience from the point of sale through to delivery and providing appropriate after sales service if required. Sales staff are trained to operate to high standards, supported by in-house training and external </p>
                    </div>
                </div>
                <div class="strength__content">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/customer-service-icon.png" alt="Store icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Store portfolio</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">ScS currently operates from 96 stores in the UK, 94 of which are in out of town retail park locations. Investment in the store portfolio amounted to approximately £3 million in the last four years to ensure each store remains well presented, attractive and modern with a fashionable look and</p>
                    </div>
                </div>
                <div class="strength__content strength__content-top">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/health-icon.png" alt="Health icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Negative working capital business model</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">The Group operates a negative working capital business model with low ongoing capital expenditure requirements. The majority of product suppliers are paid at the end of the month following the month in which the furniture was delivered to the Group’s distribution centres.</p>
                    </div>
                </div>
                <div class="strength__content strength__content-left">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/man-icon.png" alt="Man icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Experienced management team</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">Led by David Knight, ScS’s Chief Executive Officer, the senior management team has many years of combined experience both in their respective areas of expertise and with ScS’s business.</p>
                    </div>
                </div>
                <div class="strength__content">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/mobile-icon.png" alt="Mobile icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">Growing online capability</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">Having grown online sales from approximately £0.5 million in 2009 to approximately £8.4 million in the year ended 25 July 2015, the website currently generates more sales than ScS’s leading store. A new website was launched in July 2014, with ScS having invested approximately £0.8 million in a new platform this is expected to underpin further online sales growth as well as act as a marketing tool to drive customer in-store visits.</p>
                    </div>
                </div>
                <div class="strength__content strength__content-top">
                    <div class="strength__image-wrapper">
                        <img class="strength__image" src="../../../assets/images/key-strenght/computer-icon.png" alt="Computer icon">
                    </div>
                    <div class="strength__text-wrapper">
                        <h4 class="strength__title">IT systems</h4>
                        <button type="button" class="open-txt" data-js="open"></button>
                        <p class="strength__desc">Having grown online sales from approximately £0.5 million in 2009 to approximately £8.4 million in the year ended 25 July 2015, the website currently generates more sales than ScS’s leading store. A new website was launched in July 2014, with ScS having invested approximately £0.8 million in a new platform this is expected to underpin further online sales growth as well as act as a marketing tool to drive customer in-store visits.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="strength__bottom-wrapper">
            <div class="redish-box redish-box--bottom">
                <span class="redish-box__bottom-title"><a href="#"><span class="icon-download"></span> Download At a Glance</a></span>
            </div>
        </div>
    </div>
</section>