@import "../../../sources/abstract/mixins";
@import "../../../sources/abstract/variables";

.footer {
  background: $redish-color;
  color: $white;
  font-size: 14px;
  font-weight: $font-weight-light;

  a {
    color: $white;
  }
}

.footer__logo-wrapper {
  padding: 32px 0 28px 15px;
}

.footer__logo-img {
  width: 100px;
}

.footer__terms {
  padding-right: 10px;
  border-right: 1px solid $white;
}

.footer__terms-wrapper {
  padding-left: 15px;
}

.footer__copyright-wrapper {
  display: flex;
  margin-top: 10px;
  padding-bottom: 30px;
  padding-left: 15px;

  @include breakpoint(mobile-and-tablet) {
    display: block;
  }
}

.footer__by {
  margin-left: auto;
  padding-right: 17px;
}
