<footer class="footer">
    <div class="footer__section container">
        <div class="footer__logo-wrapper">
            <img class="footer__logo-img" src="assets/header-logo.png" alt="Header logo">
        </div>
        <div class="footer__terms-wrapper">
            <span class="footer__terms">Terms & conditions</span>
            <span class="footer__terms">&nbsp;&nbsp;Cookies</span>
            <a class="footer__terms" href="https://www.petrovicpetar.rs" target="blank"><span>&nbsp;&nbsp;www.petrovicpetar.com <span class="bi bi-download icon-download"></span></span></a>
        </div>
        <div class="footer__copyright-wrapper">
            <p class="footer__copyright">© 2016 A. Share & Sons Limited. All rights reserved • Registered office: 45 – 49 Villiers Street, Sunderland, SR1 1HA • Company registration number: 323778</p>
            <span class="footer__by">by Emperor</span>
        </div>
    </div>
</footer>