<section class="strategy" data-js="scroll" [ngClass]="{'fade-in' : isProcessing}">
    <div class="strategy__section container">
        <div class="strategy__contet-wrapper">
            <div class="strategy__logo redish-box">
                <h2 class="strategy__logo-title">our strategy</h2>
            </div>
        </div>
        <div class="strategy__desc-title-wrapper">
            <p class="strategy__desc-title">Ignatiosant aut latessum aliquis pelent dit doluptatem que ditibus sed ut rem fugiatibus sed molupta alibusdam, suntion sectio ipiderit </p>
        </div>
        <div class="strategy__buttons-wrapper">
            <button class="strategy__button strategy__button--active" type="button" data-js="button-strategic" data-id="first-tab">Strategic priority</button>
            <button class="strategy__button" type="button" data-js="button-strategic" data-id="second-tab">Risks</button>
            <button class="strategy__button" type="button" data-js="button-strategic" data-id="third-tab">Measure of Success</button>
        </div>
        <div class="strategy__strategic" id="first-tab" data-js="tab-panel">
            <div class="strategy__row-wrapper">
                <div class="image-text">
                    <div class="image-text__title-wrapper">
                        <h3 class="image-text__title">Strategic priority</h3>
                    </div>
                    <div class="image-text__wrapper">
                        <img class="image-text__img" src="../../../assets/images/strategy/sofa.png" alt="Image of sofa">
                        <div class="image-text__text-wrapper">
                            <button type="button" class="open-txt" data-js="open"></button>
                            <h4 class="image-text__heading">Increasing sales densities – by broadening the brand and product offer and raising brand awareness.</h4>
                            <p class="image-text__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum turpis nec nibh elementum, quis tincidunt est egestas. Phasellus egestas nec enim sed aliquet. Cras vulputate leo sed felis semper, quis sollicitudin mauris tempus. Nam convallis dapibus.</p>
                        </div>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__title-wrapper">
                        <h3 class="bulletpoint__title">2014-15 Progress</h3>
                    </div>
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__title-wrapper">
                        <h3 class="bulletpoint__title bulletpoint__title--spec">2016 Priorities</h3>
                    </div>
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris.</li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt </li>
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris. </li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="strategy__row-wrapper">
                <div class="image-text">
                    <div class="image-text__wrapper">
                        <img class="image-text__img" src="../../../assets/images/strategy/concessions.png" alt="Image of sofa">
                        <div class="image-text__text-wrapper">
                            <button type="button" class="open-txt" data-js="open"></button>
                            <h4 class="image-text__heading">Develop new Concessions.</h4>
                            <p class="image-text__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum turpis nec nibh elementum, quis tincidunt est egestas. Phasellus egestas nec enim sed aliquet. Cras vulputate leo sed felis semper, quis sollicitudin mauris tempus. Nam convallis dapibus.</p>
                        </div>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris.</li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt </li>
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris. </li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="strategy__row-wrapper">
                <div class="image-text">
                    <div class="image-text__wrapper">
                        <img class="image-text__img" src="../../../assets/images/strategy/shop.png" alt="Image of shop">
                        <div class="image-text__text-wrapper">
                            <button type="button" class="open-txt" data-js="open"></button>
                            <h4 class="image-text__heading">Filling in the white space – opening new stores. </h4>
                            <p class="image-text__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum turpis nec nibh elementum, quis tincidunt est egestas. Phasellus egestas nec enim sed aliquet. Cras vulputate leo sed felis semper, quis sollicitudin mauris tempus. Nam convallis dapibus.</p>
                        </div>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris.</li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt </li>
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris. </li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="strategy__row-wrapper">
                <div class="image-text">
                    <div class="image-text__wrapper">
                        <img class="image-text__img" src="../../../assets/images/strategy/tablet.png" alt="Image of tablet">
                        <div class="image-text__text-wrapper">
                            <button type="button" class="open-txt" data-js="open"></button>
                            <h4 class="image-text__heading">The online trading pportunity.</h4>
                            <p class="image-text__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum turpis nec nibh elementum, quis tincidunt est egestas. Phasellus egestas nec enim sed aliquet. Cras vulputate leo sed felis semper, quis sollicitudin mauris tempus. Nam convallis dapibus.</p>
                        </div>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                </div>
                <div class="bulletpoint">
                    <div class="bulletpoint__content-wrapper">
                        <ul class="bulletpoint__list">
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris.</li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt </li>
                            <li class="bulletpoint__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                            <li class="bulletpoint__item">Aliquam porta blandit vehicula. </li>
                            <li class="bulletpoint__item">Proin ut sollicitudin mauris. </li>
                            <li class="bulletpoint__item">Nullam tempus, ex ut ornare tincidunt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="strategy__risks">
            <div class="risks hidden" id="second-tab" data-js="tab-panel">
                <div class="risks__desc-wrapper">
                    <p class="risks__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt nec risus ut cursus. Fusce mauris purus, maximus eget viverra semper, pretium lobortis ex. Sed rhoncus odio ac magna fermentum, nec dapibus lorem facilisis. Fusce scelerisque, neque ut elementum varius, ex lacus finibus purus, condimentum tincidunt nisi lectus a lectus. In lobortis tincidunt ex.</p>
                </div>
                <div class="risks__content-wrapper">
                    <div class="risks__column-wrapper">
                        <span class="risks__title">Ex sapien</span>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                    <div class="risks__column-wrapper">
                        <span class="risks__title">Ex sapien</span>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__title">Ex sapien</span>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                    <div class="risks__column-wrapper">
                        <span class="risks__title">Ex sapien</span>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                        <span class="risks__title">Ex sapien</span>
                        <span class="risks__sub-title">Lorem ipsum dolor sit</span>
                        <ul class="risks__list">
                            <li class="risks__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li class="risks__item">Aliquam porta blandit vehicula. Proin ut sollicitudin mauris. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="strategy__success hidden" id="third-tab" data-js="tab-panel">
            <div class="numbers">
                <div class="strategy__success-wrapper">
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</span>
                    </div>
                </div>
                <div class="strategy__success-wrapper">
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</span>
                    </div>
                    <div class="numbers__data">
                        <span class="numbers__title">kpi title</span>
                        <span class="numbers__price "> &#60;20% </span>
                        <span class="numbers__percentage">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="strategy__bottom-wrapper">
            <div class="redish-box redish-box--bottom">
                <span class="redish-box__bottom-title"><a href="#"><span class="icon-download"></span> Download Our Strategy</a></span>
            </div>
        </div>
    </div>
</section>