@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/font-family/Foco.ttf') format('truetype');
}

@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/font-family/FocoBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/font-family/FocoBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/font-family/FocoLight.ttf') format('truetype');
}
