<section class="download" data-js="scroll" [ngClass]="{'fade-in' : isProcessing}">
    <div class="download__section container">
        <div class="download__contet-wrapper">
            <div class="download__logo redish-box">
                <h2 class="download__logo-title">download centre</h2>
            </div>
        </div>
        <div class="download__img-wrapper">
            <img class="download__img-catalog" src="assets/images/download/catalog.png" alt="Catalog image">
            <span class="download__img-title"><a href="#"><span class="icon-download"></span>Download full Annual Reports and Accounts 2016 (PDF, 2.5MB)</a></span>
        </div>
        <div class="download__row-wrapper">
            <div class="download__column-wrapper">
                <h4 class="download__column-title">Strategic report</h4>
                <ul class="download__list">
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>2015 Highlights</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>ScS at a Glance</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Our History</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Chairman's Statement</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Chief Executive Officer's Review</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Our Business Model</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Our Strategy</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Our Strategy in Action</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Our Markets and Competitors</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Financial Review and Key Performance Indicators</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Principal Risks and Uncertainties</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Corporate Social Responsibility</a></li>
                </ul>
            </div>
            <div class="download__column-wrapper">
                <h4 class="download__column-title">Corporate Governance</h4>
                <ul class="download__list">
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Board of Directors</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Corporate Governance Statement</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Audit Committee Report</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Directors’ Remuneration Report</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Directors’ Report</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Statement of Directors’ Responsibilities</a></li>
                </ul>
            </div>
            <div class="download__column-wrapper">
                <h4 class="download__column-title">Financial Statements</h4>
                <ul class="download__list">
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Independent Auditors’ Report to the Members of ScS Group plc</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Consolidated Statement of Comprehensive Income</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Consolidated Statement of Changes in Equity</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Consolidated Statement of Financial Position </a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Consolidated Statement of Cash Flows</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Notes to the Consolidated Financial Statements</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Independent Auditors’ Report to the Members of ScS Group plc</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Parent Company Information</a></li>
                    <li class="download__item"><a href="#"><span class="bi bi-download icon-download"></span>Company Information</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>